<h1>Home Page</h1>
<h3>Please Login</h3>

<%= form_tag('/login') do %>
	<%= label_tag(:username, "Username") %>
	<%= text_field_tag(:username) %>
	<%= label_tag(:password, "Password") %>
	<%= password_field_tag(:password) %>
	<%= submit_tag("Log In") %>
<% end %>

<h3>or... Please Sign Up!</h3>

<%= form_for @user do |f| %>
	<%= f.label :username, "Username" %>
	<%= f.text_field :username %>
	<%= f.label :email, "Email" %>
	<%= f.text_field :email %>
	<%= f.label :password, "Password" %>
	<%= f.password_field :password %>
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>
<% end %>